.team-members .team-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 60px;
}
.team-members .member {
  position: relative;
  width: 85%;
  background-color: #eee;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.team-members .member::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: rgba(160, 160, 160, 0.2);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.team-members .member:hover::after {
  width: 100%;
  z-index: 0;
}
.team-members .member:hover .image {
  filter: grayscale(2);
  -webkit-filter: grayscale(2);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.team-members .member:hover .name div {
  color: rgb(141, 141, 141);
}
.member .links {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  z-index: 1;
  position: relative;
  align-items: flex-end;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.member .links i:hover {
  color: var(--main-color);
}
.member .links i {
  margin-bottom: 25px;
  font-size: 20px;
}
.member .name {
  text-align: left;
  margin-top: 100px;
}
.member .name div,
.name p {
  text-transform: capitalize;
}
.member .name div {
  font-size: 24px;
  color: var(--main-color);
  font-weight: bold;
}

.team-members .member .image {
  position: absolute;
  z-index: 1;
  width: 95%;
  top: 0;
  left: 0;
  transform: translate(-20%, 20%);
  -moz-transform: translate(-20%, 20%);
  -ms-transform: translate(-20%, 20%);
  -o-transform: translate(-20%, 20%);
  -webkit-transform: translate(-20%, 20%);
}
.team-members .member .image img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
